/**
 * Puddinq Shop Info admin css
 * Version 0.0.3
 * 
 */
/* 
    Created on : 25-dec-2014, 15:55:54
    Author     : Huis
*/

/*******************************
*
*       Table 
*
********************************/

.puddinq_psi td {
    vertical-align: top;
}
.puddinq_psi {
	margin:0px;padding:0px;
	width:900px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
}
.puddinq_psi table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.puddinq_psi tr td:nth-child(2) {
    min-width: 200px;
}
.puddinq_psi tr:hover td{
	
}
.puddinq_psi tr:nth-child(odd) { 
    background-color:#aad4ff; }
.puddinq_psi tr:nth-child(even) { 
    background-color:#ffffff; }
.puddinq_psi td{

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.puddinq_psi tr:last-child td{
	border-width:0px 1px 0px 0px;
}.puddinq_psi tr td:last-child{
	border-width:0px 0px 1px 0px;
}.puddinq_psi tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.puddinq_psi tr:first-child td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.puddinq_psi tr:first-child td:nth-child(3) {
        vertical-align: middle;
}

.puddinq_psi tr td:first-child {
        width: 100px;
}

.puddinq_psi tr td:nth-child(2) {
        width: 450px;
}

.puddinq_psi tr td:nth-child(4) input,
.puddinq_psi tr td:last-child input {
        width: 70px;
}

.puddinq_psi tr:first-child td a{
        padding: 5px 5px 5px 5px;
        color:#000;
        background: #fff;
        -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.puddinq_psi tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.puddinq_psi tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.puddinq_psi tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/*******************************
*
*       FORMS   
*
********************************/

th, td {
    vertical-align: text-top;
}

.widefat {
    min-width: 400px;
    max-width: 800px;
    width: 90%;
}

.psi input, .psi textarea {
    border-radius: 3px;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #FFF;
    width: 270px;
    height: 25px;
}

 .psi input:required:valid, .psi textarea {
    background: #1F2124;
    background: -moz-linear-gradient(#1F2124, #27292C);
    background: -ms-linear-gradient(#1F2124, #27292C);
    background: -o-linear-gradient(#1F2124, #27292C);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1F2124), to(#27292C));
    background: -webkit-linear-gradient(#1F2124, #27292C);
    background: linear-gradient(#1F2124, #27292C);
    border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

input:required:invalid, input:focus:invalid {
  /* insert your own styles for invalid form input */
    -moz-box-shadow: none;
    background: #1F2124;
    background: -moz-linear-gradient(#f85032, #e73827);
    background: -ms-linear-gradient(#f85032, #e73827);
    background: -o-linear-gradient(#f85032, #e73827);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f85032), to(#e73827));
    background: -webkit-linear-gradient(#f85032, #e73827);
    background: linear-gradient(#f85032, #e73827);
    border: 2px solid #FF6600;
}

.psi textarea:focus, .psi input:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494D54;
    border-color: #51CBEE;
    outline: none;
}

.psi textarea {
    cols: "20"; 
    rows: "10"; 
    height: 100px;
    vertical-align: top;
    overflow: auto;
}

.help {
    display:none;
    font-size:90%;
}
input:focus + .help {
    display:inline-block;
}